# NUMBERS

In [5]:
#Addition
2+1

3

In [4]:
2-1

1

In [6]:
2*3

6

In [8]:
3/2

1.5

In [11]:
#Floor Division
9//4

2

In [12]:
#Modulo
7%4

3

In [13]:
#Power
2**3

8

In [14]:
2**0.5

1.4142135623730951

In [20]:
round(2**0.5,3)

1.414

In [21]:
2 + 10 * 10 + 2

104

In [22]:
(2 + 10) * (10 + 2)

144

# Variable Assignment

In [23]:
a = 5

In [31]:
a

40

In [32]:
a

40

In [33]:
a

40

In [25]:
a + a

10

In [30]:
#Reassignment
a = a + a

In [34]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate

In [35]:
my_taxes

10.0

In [36]:
my_dogs = 2

In [37]:
my_dogs

2

In [40]:
my_dogs = ["Sammy","Frankie"]

In [41]:
my_dogs

['Sammy', 'Frankie']

In [42]:
a = a + 10

In [43]:
a

50

In [44]:
a += 10

In [45]:
a

60

In [46]:
a *= 2

In [47]:
a

120

int
float
str
list
tuples
dict
set
bool

In [48]:
type(a)

int

In [49]:
b = 1.2

In [50]:
b

1.2

In [51]:
type(b)

float

In [52]:
a = (1,2)

In [53]:
type(a)

tuple

# String

In [54]:
'hello'

'hello'

In [55]:
"This is also a string"

'This is also a string'

In [56]:
'2'

'2'

In [57]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [58]:
"Hello World"

'Hello World'

In [59]:
"Hello World 1"

'Hello World 1'

In [60]:
"Hello World 1"
"Hello World 2"

'Hello World 2'

In [61]:
print("Hello World 1")
print("Hello World 2")
print("Hello World 3")
print("Hello World 4")

Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [62]:
print("Hello World 1")
print("Hello World 2")
print("Hello World 3")
print('\n')   #Next Line
print("Hello World 4")

Hello World 1
Hello World 2
Hello World 3


Hello World 4

In [63]:
len("Hello World 1")

13

String Indexing

In [64]:
s = "Hello World"

In [65]:
s

'Hello World'

In [66]:
print(s)

Hello World

In [67]:
s[0] #First letter

'H'

In [68]:
s[1]

'e'

In [69]:
s[-1]

'd'

In [70]:
#Grab every element except the first
s[1:]

'ello World'

In [71]:
s[2:] #sTARTING

'llo World'

In [72]:
s[:3] #ENDING

'Hel'

In [74]:
s[:5]

'Hello'

In [75]:
#Everything
s[:]

'Hello World'

In [76]:
#Step Size
s[::1]

'Hello World'

In [77]:
s[::2]

'HloWrd'

In [78]:
s[::3]

'HlWl'

In [89]:
s[::-1]

'dlroW olleH'

In [85]:
s[2::-2]

'lH'

In [90]:
s[::-4]

'dWl'

In [92]:
s

'Hello World'

In [91]:
s[::-2]

'drWolH'

In [95]:
s[3::-2]

'le'

In [97]:
s + ' concatenate me'

'Hello World concatenate me'

In [98]:
s = s + ' concatenate me'

In [99]:
s

'Hello World concatenate me'

In [100]:
letter = 'z'

In [103]:
letter*1000

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [104]:
s

'Hello World concatenate me'

In [105]:
s.upper()

'HELLO WORLD CONCATENATE ME'

In [106]:
s.lower()

'hello world concatenate me'

In [107]:
s.split()

['Hello', 'World', 'concatenate', 'me']

In [112]:
s.split('w')

['Hello World concatenate me']

In [109]:
s.split('o')

['Hell', ' W', 'rld c', 'ncatenate me']

# Print Formating

In [117]:
print('I m going to inject %s here.' % 'this also')

I m going to inject this also here.

In [123]:
print('I m going to inject %r here text here, and %s text here.' % ('2.55', 'also'))

I m going to inject '2.55' here text here, and also text here.

In [122]:
print('He said his name was %s.'% 'Fred')
print('He said his name was %r.'% 'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [124]:
print('I wrote %s program today.' %3.75)
print('I wrote %d program today.' %3.75)  #return in the output in the form of integer

I wrote 3.75 program today.
I wrote 3 program today.

In [134]:
print('Floating point number: %8.2f' %(13.14444))

Floating point number:    13.14

In [126]:
print('Floating point number: %0.2f' %(13.14444))

Floating point number: 13.14

In [127]:
print('Floating point number: %0.3f' %(13.14444))

Floating point number: 13.144

In [128]:
print('Floating point number: %20.3f' %(13.14444))

Floating point number:               13.144

In [135]:
print("This is a string with an {}".format('insert'))

This is a string with an insert

In [136]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [137]:
print('The {1} {2} {0}'.format('fox','brown','quick'))

The brown quick fox

In [138]:
print('The {1} {1} {0}'.format('fox','brown','quick'))

The brown brown fox

# LIST

In [139]:
my_list = [1,2,3]

In [140]:
my_list

[1, 2, 3]

In [141]:
my_list = ['string', 23, 23.3,'o']

In [142]:
my_list

['string', 23, 23.3, 'o']

In [143]:
len(my_list)

4

In [144]:
my_list = ['one','two','three',4.5]

In [145]:
my_list[0]

'one'

In [147]:
my_list[::-1]

[4.5, 'three', 'two', 'one']

In [148]:
#Reassignment
my_list = my_list + ['add new item permanently']

In [149]:
my_list

['one', 'two', 'three', 4.5, 'add new item permanently']

In [150]:
my_list * 2

['one',
 'two',
 'three',
 4.5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4.5,
 'add new item permanently']

In [151]:
list1 = [1,2,3]

In [152]:
list1.append('append me!')

In [153]:
list1

[1, 2, 3, 'append me!']

In [154]:
list1.pop(3)

'append me!'

In [155]:
list1

[1, 2, 3]

In [156]:
list1[100]

IndexError: list index out of range

In [157]:
new_list = ['a','e','i','o','u']

In [158]:
new_list

['a', 'e', 'i', 'o', 'u']

In [159]:
new_list.reverse()

In [160]:
new_list

['u', 'o', 'i', 'e', 'a']

In [161]:
new_list.sort()

In [162]:
new_list

['a', 'e', 'i', 'o', 'u']

In [ ]:
new

In [163]:
new_list1 = [2,'e',1,'z','u']

In [164]:
new_list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [165]:
new_list2 = [2,3,1,4,0]

In [166]:
new_list2.sort()

In [167]:
new_list2

[0, 1, 2, 3, 4]

In [168]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [6,7,8]

In [169]:
matrix = [lst_1,lst_2,lst_3]

In [170]:
matrix

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

In [171]:
matrix[0]

[1, 2, 3]

In [173]:
matrix[1]

[4, 5, 6]

In [174]:
matrix[1][1]

5

# DICTIONARIES

In [179]:
my_dict = {'key1':'value1','key2':'value2'}

In [176]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [180]:
my_dict['key2']

'value2'

In [181]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [182]:
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [183]:
my_dict['key3']

['item0', 'item1', 'item2']

In [188]:
my_dict['key3'][1]

'item1'

In [189]:
my_dict['key3'][1].upper()

'ITEM1'

In [190]:
my_dict['key1']

123

In [191]:
my_dict['key1'] = my_dict['key1'] - 123

In [192]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [206]:
d = {}

In [208]:
d['animal'] = 'Dog'

In [207]:
d['answer'] = 42

In [209]:
d

{'answer': 42, 'animal': 'Dog'}

In [199]:
my_dict['key2'][1] = my_dict['key2'][1] - 23

In [200]:
my_dict

{'key1': 0, 'key2': [12, 0, 33], 'key3': ['item0', 'item1', 'item2']}

In [216]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [217]:
d['key1']['nestkey']

{'subnestkey': 'value'}

In [218]:
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [219]:
d = {'key1': 1,'key2':2,'key3':3}

In [228]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [233]:
list(d.values())[1]

2

In [235]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# TUPLES

In [236]:
t = (1,2,3)

In [237]:
len(t)

3

In [239]:
t = ('one', 2)

In [240]:
t

('one', 2)

In [241]:
t[0]

'one'

In [242]:
t.index('one')

0

In [243]:
t.index(2)

1

In [245]:
t[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [246]:
l = ['one',2]

In [247]:
l

['one', 2]

In [248]:
l[0] = 'change'

In [249]:
l

['change', 2]

In [250]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [257]:
t*2

('one', 2, 'one', 2)

In [258]:
t

('one', 2)

# SETS AND BOOLEANS

In [251]:
x = set()

In [255]:
x.add(2)

In [259]:
x.add(1)

In [260]:
x

{1, 2}

In [261]:
x = {2,1,1,1,1,2,2,2,2,2}

In [262]:
x

{1, 2}

In [299]:
list1 =  {6,6,True,4,5,2,3,2,2,2,1}

In [290]:
list1 =  {1,6,1,1,0,False,4,1,5,2,3,2,2,2,0}

In [284]:
list1 =  {1,6,1,1,'True','True',4,1,5,2,3,2,2,2}

In [300]:
set(list1)

{True, 2, 3, 4, 5, 6}

BOOLEANS

In [269]:
a = True

In [270]:
a

True

In [271]:
1 > 2

False

In [272]:
a != False #Not Equal true

True

In [275]:
b = None

In [276]:
b