# LOOPS

In [2]:
#FOR LOOP
list1 = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [5]:
for num in list1:
    if num % 2 == 1:    # '='' ITS FOR THE ASSIGNMENT AND '==' FOR THE COMPARISION OPERATOR
        print(num)

1
3
5
7
9

In [7]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [13]:
list_sum = 0

for num in list1:
    list_sum += num   # list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
list_sum

55

In [18]:
for letter in 'This is a string':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [19]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

In [21]:
tup= (1,2,3,4,5)
for t in tup:
    print(tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [22]:
#Tuple Unpacking
list2 = [(2,4),(6,8),(10,12)]

In [24]:
for num in list2:
    print(num)

(2, 4)
(6, 8)
(10, 12)

In [28]:
for (t1,t2) in list2:
    print(t1)
    print(t2)

2
4
6
8
10
12

In [29]:
d = {'k1':1,'k2':2,'k3':3}

In [30]:
for item in d:
    print(item)

k1
k2
k3

In [31]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [35]:
for k,v in d.items():
    print(k)

k1
k2
k3

In [36]:
for k,v in d.items():
    print(v)

1
2
3

In [34]:
list(d.values())

[1, 2, 3]

In [37]:
d = {2:'k'}

In [38]:
d.keys()

dict_keys([2])

In [39]:
d.values()

dict_values(['k'])

# WHILE LOOP

while test:
    code statement
else:
    final code statement

In [1]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
    x+=1 # x = x+ 1 updation

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [3]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
    x+=1 
    if x == 4:
        print('Breaking because x == 4')
        break

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
Breaking because x == 4

In [8]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
    x+=1 
    if x == 4:
        print('Breaking because x == 4')
        break
    else:
        print('Continuing')

x is currently:  0
x is still less than 10, adding 1 to x
Continuing
x is currently:  1
x is still less than 10, adding 1 to x
Continuing
x is currently:  2
x is still less than 10, adding 1 to x
Continuing
x is currently:  3
x is still less than 10, adding 1 to x
Breaking because x == 4

In [16]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue  #Skips its 
  print(i)

1
2
4
5
6

# USEFUL OPERATORS

In [18]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [83]:
#enumerate
index_count = int(input())
for letter in 'abcdef':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

 4

At index 4 the letter is a
At index 5 the letter is b
At index 6 the letter is c
At index 7 the letter is d
At index 8 the letter is e
At index 9 the letter is f

In [24]:
for i, letter in enumerate('abcdef'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [25]:
list(enumerate('abcdef'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

ZIP

In [28]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = ['f','g','h','i','j']

In [33]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [34]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

"IN" and "NOT IN"

In [38]:
'x' in ['y','x','z']

True

In [37]:
'x' in [1,'y','z']

False

In [39]:
'x' not in [1,'y','z']

True

In [ ]:
'x' not in ['x','y','z']

In [42]:
mylist = [10,20,30,40,50,100]

In [43]:
min(mylist)

10

In [44]:
max(mylist)

100

In [45]:
from random import shuffle

In [54]:
mylist

[30, 10, 100, 50, 20, 40]

In [55]:
shuffle(mylist)

In [56]:
mylist

[100, 50, 40, 10, 20, 30]

In [78]:
from random import randint
randint(0,100)

33

In [87]:
int(input('Enter Something into this box: '))

Enter Something into this box:  13

13

# LIST COMPREHENSION

In [85]:
lst = [x for x in 'word']

In [86]:
lst

['w', 'o', 'r', 'd']

In [90]:
lst = [x**3 for x in range(0,11)]

In [91]:
lst

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [94]:
lst = [x for x in range(5,15) if x % 2 == 0]

In [95]:
lst

[6, 8, 10, 12, 14]

In [99]:
celcius = [0,10,20.1,34.5]

fah = [((9/5)*Pratul + 32) for Pratul in celcius]

fah

[32.0, 50.0, 68.18, 94.1]

In [104]:
lst = [ x**2 for x in [x**2 for x in range(11)]]   #Nested list
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [105]:
[x**4 for x in range(11)]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# METHOD

In [110]:
lst = [1,2,2,3,4,5]

In [111]:
lst.append(6)

In [112]:
lst

[1, 2, 2, 3, 4, 5, 6]

In [113]:
lst.count(2)

2

In [114]:
help(lst.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [115]:
lst.reverse()

In [116]:
lst

[6, 5, 4, 3, 2, 2, 1]

In [117]:
help(lst.reverse())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# FUNCTIONS

In [118]:
def say_hello():
    print('hello')

In [119]:
say_hello()

hello

In [120]:
say_hello

In [133]:
def name(xyz):
    print(f'Hello {xyz}')  #Printing the String with the inserted string

In [134]:
name('Pratul')

Hello Pratul

In [137]:
def add_num(num1,num2):
    print(num1+num2)

In [141]:
add_num(4,5)

9

In [139]:
add_num('one','two')

onetwo

In [142]:
def even_check(number):
    return number % 2 == 0

In [144]:
even_check(19)

False

In [158]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [159]:
check_even_list([1,1,2,2,2,22,2,2,2])

True